body {
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
}

* {
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
}

p {
	font-size: 4rem;
	margin-bottom: 2px;
}

p span {
	opacity: 0;
	display: inline-block;
	animation: animate 1.5s linear forwards;
}

h1,
p {
	margin-top: 0;
	color: white;
	text-align: center;
	width: 100%;
}

#bspace {
	min-height: 350px;
	background-color: black;
}

.gallery-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 150px;
	padding: 20px;
	grid-gap: 5px;
}

.gallery__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

p span:nth-child(1) {
	color: #ff0000;
	animation-delay: 1s;
}

p span:nth-child(2) {
	color: #ff7300;
	animation-delay: 2s;
}

p span:nth-child(3) {
	animation-delay: 3s;
	color: #fffb00;
}

p span:nth-child(4) {
	animation-delay: 4s;
	color: #48ff00;
}

p span:nth-child(5) {
	animation-delay: 5s;
	color: #00ffd5;
}

p span:nth-child(6) {
	animation-delay: 6s;
	color: #002bff;
}

p span:nth-child(7) {
	animation-delay: 7s;
	color: #ff00c8;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: rotateY(90deg);
		filter: blur(10px);
	}

	100% {
		opacity: 1;
		transform: rotateY(0deg);
		filter: blur(0);
	}
}

@media screen and (min-width: 1024px) {
	.gallery__item:nth-child(4) {
		grid-row-start: span 3;
	}

	.gallery__item:nth-child(5) {
		grid-row-start: span 3;
	}

	.gallery__item:nth-child(6) {
		grid-row-start: span 3;
	}

	.gallery__item:nth-child(7) {
		grid-column-start: span 3;
		grid-row-start: span 4;
	}

	.gallery__item:nth-child(8) {
		grid-row-start: span 3;
	}

	.gallery__item:nth-child(9) {
		grid-row-start: span 3;
		grid-column-start: span 2;
	}

	.gallery__item:nth-child(10) {
		grid-row-start: span 3;
		grid-column-start: span 2;
	}

	.gallery__item:nth-child(11) {
		grid-row-start: span 3;
	}

	.gallery__item:nth-child(12) {
		grid-row-start: span 3;
	}

	.gallery__item:nth-child(13) {
		grid-row-start: span 3;
	}

	.gallery__item:nth-child(14) {
		grid-row-start: span 3;
	}

	.gallery__item:nth-child(15) {
		grid-column-start: span 3;
		grid-row-start: span 4;
	}
}
